<header>
  <nav class="navbar navbar-expand-lg fixed-top">
    <div class="container-fluid">
      <a class="navbar-brand" style="padding-right: 1%;" routerLink="/">
        <img src="../../../assets/img/logo.png" alt="logo" class="d-inline-block align-text-top padding-logo">
      </a>

      <button class="navbar-toggler" type="button"
        data-bs-toggle="offcanvas"
        data-bs-target="#offcanvasNavbar"
        aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <form class="d-flex w-100 d-lg-none my-0 order-3" role="search" (submit)="onSearchSubmit(searchInputMobileHeader.value)">
        <input #searchInputMobileHeader class="form-control mx-auto flex-grow-1" type="search" placeholder="Buscar..." aria-label="Search" style="max-width: 300px;"
               (input)="onSearchInputChange($event)"> <button class="btn btn-outline-light ms-2" type="submit">Buscar</button>
      </form>


      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link btn btn-primary" routerLink="/mangas" routerLinkActive="active">Mangas</a>
          </li>
          <li class="nav-item">
            <a class="nav-link btn btn-primary" routerLink="/comics" routerLinkActive="active">Cómics</a>
          </li>
        </ul>

        <form class="d-flex d-none d-lg-flex me-3" role="search" (submit)="onSearchSubmit(searchInputDesktop.value)">
          <input #searchInputDesktop class="form-control" type="search" placeholder="Buscar..." aria-label="Search"
                 (input)="onSearchInputChange($event)"> <button class="btn btn-outline-light ms-2" type="submit">Buscar</button>
        </form>

        <ul class="navbar-nav mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link btn btn-primary position-relative" routerLink="/cart" (click)="openCartModal()">
              <i class="fas fa-shopping-cart"></i> Carrito
              <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
                {{ cartItemCount }}
                <span class="visually-hidden">elementos en el carrito</span>
              </span>
            </a>
          </li>
          <li class="nav-item dropdown ms-lg-3">
            <a class="nav-link dropdown-toggle btn btn-primary" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              <i class="fas fa-user"></i> Mi Cuenta
            </a>
            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
              <ng-container *ngIf="isLoggedIn; else authButtons">
                <li><a class="dropdown-item" routerLink="/perfil" data-bs-dismiss="offcanvas">Perfil ({{ currentUser?.fullName }})</a></li>
                <li *ngIf="isAdminUser"><a class="dropdown-item" routerLink="/admin-dashboard">Administración</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="#" (click)="logout()">Cerrar Sesión</a></li>
              </ng-container>
              <ng-template #authButtons>
                <li><a class="dropdown-item" routerLink="/login">Iniciar Sesión</a></li>
                <li><a class="dropdown-item" routerLink="/register">Registrarse</a></li>
              </ng-template>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
    <div class="offcanvas-header">
      <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Menú</h5>
      <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
      <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="/" data-bs-dismiss="offcanvas">Inicio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/mangas" data-bs-dismiss="offcanvas">Mangas</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/comics" data-bs-dismiss="offcanvas">Cómics</a>
        </li>
        <li class="nav-item" *ngIf="isAdminUser">
          <a class="nav-link" routerLink="/admin-dashboard" data-bs-dismiss="offcanvas">Administración</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#" data-bs-toggle="modal" data-bs-target="#cartModal" (click)="openCartModal()" data-bs-dismiss="offcanvas">
            Carrito <span class="badge bg-secondary">{{ cartItemCount }}</span>
          </a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="offcanvasNavbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Mi Cuenta
          </a>
          <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="offcanvasNavbarDropdown">
            <ng-container *ngIf="isLoggedIn; else authButtonsOffcanvas">
              <li><a class="dropdown-item" routerLink="/profile" data-bs-dismiss="offcanvas">Perfil ({{ currentUser?.fullName }})</a></li>
              <li *ngIf="isAdminUser"><a class="dropdown-item" routerLink="/admin-dashboard" data-bs-dismiss="offcanvas">Administración</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="#" (click)="logout()" data-bs-dismiss="offcanvas">Cerrar Sesión</a></li>
            </ng-container>
            <ng-template #authButtonsOffcanvas>
              <li><a class="dropdown-item" routerLink="/login" data-bs-dismiss="offcanvas">Iniciar Sesión</a></li>
              <li><a class="dropdown-item" routerLink="/register" data-bs-dismiss="offcanvas">Registrarse</a></li>
            </ng-template>
          </ul>
        </li>
      </ul>
      </div>
  </div>
</header>